.title {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title > span {
    font-size: 50px;
    font-weight: 700;
}

.message {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin: 25px 0px 0px 25px;
    display: block;
}

.link {
    background: #fff;
    color: #333;
    font-size: 16px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    width: 140px;
    padding: 5px;
    margin: 25px 0px 0px 25px;
    text-align: center;
    font-weight: 550;
}

.userInfo {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.userBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.name {
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
}

.outBtn {
    background: #fff;
    color: #333;
    width: 125px;
    height: 27px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}

.logo {
    font-weight: 750;
    font-size: 25px;
    color: #fff;
}

@media (max-width: 600px) {
    .userInfo {
        width: 95%;
    }
    .logo {
        font-size: 20px;
    }

    .name {
        font-size: 17px;
        margin-right: 10px;
    }

    .outBtn {
        width: 100px;
    }
}