.text {
    margin: 20px 0px 0px 20px;
    font-size: 18px;
    font-weight: 600;
}

.link {
    background: #fff;
    margin: 20px 0px 0px 20px;
    color: #333;
    width: 75px;
    height: 25px;
    border: none;
    border-radius: 10px;
    opacity: 0.77;
    transition: opacity 1s ease-in;
}

.link:hover {
    opacity: 1;
}